<div id="connect">
	<form id="connectForm" action="/connect" method="post"> 
	    Name: <input type="text" name="name" value="Type your name" /> 
	    <input type="submit" value="Connect" /> 
	</form>
</div>