<h2>Other players</h2>
{{#otherPlayers}}
<div class="otherPlayer {{#isActivePlayer}}otherPlayerActive{{/isActivePlayer}}">
	<h3>{{name}}</h3>
	Cards left: <span class="cardsLeft">{{cardsLeft}}</span>
</div>
{{/otherPlayers}}
<div style="clear: both;"></div>
