{{#gameActions}}

<form id="leaveTableForm" action="/table/leave" method="post"> 
    <input type="submit" value="Leave table" /> 
</form>

<form id="closeTableForm" action="/table/close" method="post"> 
    <input type="submit" value="Close table" {{^isOwner}}disabled="disabled"{{/isOwner}}/> 
</form>

<form id="addBotForm" action="/table/addBot" method="post"> 
    <input type="submit" value="Add bot" {{^canAddBot}}disabled="disabled"{{/canAddBot}}/> 
</form>

<form id="startDealingForm" action="/table/startDealing" method="post"> 
    <input type="submit" value="Deal" {{^canDeal}}disabled="disabled"{{/canDeal}}/> 
</form>

<form id="takeMoreCardsForm" action="/table/takeMoreCards" method="post"> 
    <input type="submit" value="Take Cards" {{^canTakeMoreCards}}disabled="disabled"{{/canTakeMoreCards}}/> 
</form>

{{/gameActions}}