<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Schafkopf</title>
	<script src="/js/jquery-2.1.3.min.js"></script> 
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.form.min.js"></script>
    <script src="/js/schafkopf.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/css/schafkopf.css">
    <link rel="stylesheet" type="text/css" href="/css/debug.css">
</head>

<body>
	<h1>Schafkopf</h1>
	<div id="gameArea">
	{{> loader}}
	</div>
</body>

</html>