<div id="tables">
	<p>Hello {{#player}} {{name}} {{/player}}</p>
	<div id="createTable">
		<form id="createTableForm" action="/table/add" method="post"> 
		    Name: <input type="text" name="name" value="Type the table name" /> 
		    <input type="submit" value="Create" /> 
		</form>
	</div>
	<div id="tableList">
		<ul>
		{{#tables}}
		<li><a href="/table/join/{{id}}">{{name}}</a></li>
		{{/tables}}
		</ul>
	</div>
</div>